#circumstances-chart-container {
    width: 100%;
    height: 400px;
}

#intervention-chart-container {
    width: 100%;
    height: 500px;
}

#circumstances-chart-container svg,
#intervention-chart-container svg  {
    overflow: visible;
}
