.table-container {
    width: 100%;
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 2em;
    padding-bottom: 1em;
}

.table-container table {
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-container table th,
.table-container table td {
    padding: 0.25em 1em;
    white-space: pre;
}

.table-container table thead th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table-container table tr.highlight th {
    border-top: 3px solid rgba(255, 102, 1, 0.9);
    border-left: 3px solid rgba(255, 102, 1, 0.9);
    border-bottom: 3px solid rgba(255, 102, 1, 0.9);
}

.table-container table tr.highlight td {
    border-top: 3px solid rgba(255, 102, 1, 0.9);
    border-bottom: 3px solid rgba(255, 102, 1, 0.9);
}

.table-container table tr.highlight td:last-child {
    border-right: 3px solid rgba(255, 102, 1, 0.9);
}

.table-container table tbody th,
.table-container table thead th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: white;
}

.table-container.non-custom-background table tr:nth-child(odd),
.table-container.non-custom-background table tbody tr:nth-child(odd) th,
.table-container table tr.background,
.table-container table tbody tr.background th {
    background-color: rgb(230, 230, 230);
}

.table-container.non-custom-background table thead tr:nth-child(1) {
    background-color: white;
}

.App.small-vp .table-container table tbody th,
.App.small-vp .table-container table thead th:first-child {
    max-width: 165px;
    white-space: normal;
}