#drug-combination-chart-container {
  width: 100%;
  height: 350px;
  position: relative;
}

#drug-combination-chart-container #horizontal-scroll {
  width: 100%;
  overflow-x: auto;
}

#drug-combination-chart-container #drug-combination-chart {
  position: relative;
}

#drug-combination-chart-container #drug-combination-chart::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-image: linear-gradient(to right, transparent , white);
}

#drug-combination-chart-container #horizontal-scroll svg {
  padding-right: 20px;
}

#drug-combination-chart-container #table-header {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
}

#drug-combination-chart-container table {
  border-collapse: collapse;
}

#drug-combination-chart-container td {
  text-align: center;
  border: 1px solid black;
}

.App.small-vp #drug-combination-chart-container {
  width: calc(100% + 2em);
  margin: 0 -1em 2em -1em;
}