@keyframes fadein-initial {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fillin {
  0% {
    transform: scale3d(1,0,1)
  }
  100% {
    transform: scale3d(1,1,1)
  }
}

.italics {
  font-style: italic;
}

.section {
  position: relative;
  padding: 1em;
  margin: 1em 0;
}

.section:first-child {
  margin-top: 0;
}

.section::before {
  content: ' ';
  position: absolute;
  display: inline-block;
  width: 80%;
  height: 3px;
  background-color: #712177;
  margin-left: 10%;
  top: -0.25em;
}

.section:first-child::before {
  display: none;
}

.column {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.column-left {
  padding-right: 0.5em;
}

.column-right {
  padding-left: 0.5em;
}

.subheader {
  display: block;
  text-align: center;
  color: #712177;
  font-weight: bold;
  font-size: 1.4em;
  margin: 0.5em 0;
}

.individual-header {
  text-transform: uppercase;
  font-weight: bold;
}

.subsection {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid lightgray;
}

.chart-legend {
  text-align: center;
}

.chart-legend span {
  margin: 0.5em;
}

.chart-legend.side strong {
  display: inline-block;
  margin-bottom: 0.5em;
}

.indicator {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin: 0.25em;
}

#header {
  background-color: #712177;
  color: white;
  padding: 0.5em 1em;
}

#preheader-label {
  text-transform: uppercase;
  font-size: 0.8em
}

#header-label {
  font-size: 1.4em;
}

.header-section {
  display: inline-block;
  vertical-align: middle;
  width: calc(33% - 0.25em);
  border: 1px solid rgba(0,0,0,.125);
  border-left: 5px solid #b890bb;
  border-radius: .25rem;
  min-height: 100px;
  padding: .5em;
  margin-top: 1em;
}

.header-section.middle {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.header-text {
  display: inline-block;
  width: calc(100% - 70px);
  vertical-align: middle;
}

.header-text.full {
  width: 100%;
}

.inline-vertical-align {
  display: inline-block;
  height: calc(100px - 1em - 2px);
  vertical-align: middle;
}

.compare-buttons {
  margin-top: 1em;
}

.compare-buttons button {
  background: transparent;
}

.enlarged {
  display: inline-block;
  vertical-align: middle;
  font-size: 2.5em;
  font-weight: 500;
  color: #712177;
  padding: 0 .1em;
  font-family: "Merriweather",serif;
}

.text-align-left {
  text-align: left;
}

.margin-top {
  margin-top: 1em;
}

select {
  margin: 1em;
  font-size: medium;
  padding: 0.25em;
}

.bar {
  transition: transform 1s ease-in-out;
}

.animated-bar {
  transform: scale(0, 1);
}

.animated-bar.animated {
  transform: scale(1);
}

.fadein-initial {
  animation: fadein-initial 1s linear;
  opacity: 1;
}

.fadein {
  animation: fadein 1s ease;
  opacity: 1;
}

@media (max-width: 1200px) {
  .column {
    display: block;
    width: 100%;
  }

  .column-left {
    padding-right: 0;
  }

  .column-right {
    padding-left: 0;
  }

  #header h3 {
    margin-bottom: 1em;
  }

  .header-section {
    display: block;
    width: 100%;
  }

  .margin-top-small-viewport {
    margin-top: 1em;
  }

  .header-section.middle {
    margin-left: 0;
    margin-right: 0;
  }
}
