#cause-chart-container, #additional-drug-chart-container {
  width: 100%;
  height: 300px;
  margin-bottom: 2em;
}

#additional-drug-chart-container {
  display: inline-block;
  width: calc(100% - 150px);
}

.chart-header, .chart-legend {
  text-align: center;
}

.indicator {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin: 0.5em;
}

.side {
  vertical-align: top;
  display: inline-block;
  width: 150px;
}

.text-align-left {
  text-align: left;
}
